@charset "UTF-8";

* { margin: 0; padding: 0; }
body, html { width:100%;}
ul { list-style:none; }
a { tesx-decoration: none; }
button, input {outline:0; background-color: transparent; color: #fff;}
.wrap { width: 100%; clear: both; }

